@media only screen and (min-width: 0px) and (max-width: 768px){
	.gridContainer{
		display: grid;
		grid-template-areas: 
		"header"
		"nav"
		"main"
		"footer";
		grid-template-columns: 100%;
		grid-template-rows: 100px 100px 500px 200px;
	}
	header{
		grid-area: header;
		background-color: rgba(255,255,255,.3);
	}
	nav{
		grid-area: nav;
		background-color: lightcoral;
	}
	main{
		grid-area: main;
		background-color: lightblue;
	}
	footer{
		grid-area: footer;
		background-color: lightyellow;
		display: flex;
		justify-content: space-around;
	}
	a{
		text-decoration: none;
	}
	li{
		list-style: none;
	}
	ul{
		display: flex;
		justify-content: flex-end;
	}
}

@media only screen and (min-width: 1023px){
		.gridContainer{
		display: grid;
		grid-template-areas: 
		"header nav nav"
		"main main main"
		"footer footer footer";
		grid-template-columns: 20% 40% 40%;
		grid-template-rows: 100px 500px 200px;
	}
	header{
		grid-area: header;
		background-color: red;
	}
	nav{
		grid-area: nav;
		background-color: orange;
	}
	main{
		grid-area: main;
		background-color: blue;
	}
	footer{
		grid-area: footer;
		background-color: yellow;
		display: flex;
		justify-content: space-around;
	}
	a{
		text-decoration: none;
	}
	li{
		list-style: none;
	}
	ul{
		display: flex;
		justify-content: flex-end;
	}
}